/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Setting up CSS variables */
:root {
  --primary-color: #161615;
  --secondary-color: #EDE7D9;
  --accent1-color: #EDE7D9;
  --accent2-color: #333333;

  --heading-font: 'Roboto', serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #333333;
  --nav-link-color: #ede7d9;
  --nav-hover-color: #D5A021;
  --nav-hover-link-color: #A49694;
  --nav-hover-background-color: #EDE7D9;
}

/* Styling headings and paragraphs */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

/* Removing underlines from social media links */
footer .sociallinks a {
    text-decoration: none;
}


/* Reset default margin and padding */
h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}

/* Basic styling for the layout */
body {
    
  
    background-color: var(--accent1-color);
    color: #333;
    margin: 0 auto;
    width: 960px;
}


/* Header styles */
header {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 2rem;
    display: grid;
    padding: 2rem;
    grid-template-columns: 150px auto; /* Logo takes auto width, navigation takes remaining space */
}
    

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    color: #EDE7D9;
}
        
    

    
.hero img {
        width: 100%;
        height: auto;
}
    
.hero article img {
    width: 200px;
    height: auto;
    float: right;
}
    

/* Hero section styles */
.hero {
    position: relative;
   
}


/* Article styles */
.hero article {
    
   /* transform: translate(-50%, -50%);*/
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 1; /* Ensure the article is behind the h1 */
    position: absolute;
    top: 6rem;
    padding: 1rem;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}



nav {
    margin-top: 10px;
    justify-self: end;
    display: flex; /* Use flexbox for navigation links */
    justify-content: flex-end; /* Align navigation links to the right */

}

nav a {
    color: var(--accent1-color);
    text-decoration: none;
    margin: 0 10px;
    display:inline-block;
    padding: 5px 10px; /* Add padding to make navigation links clickable */
    border-radius: 5px; /* Add rounded corners to navigation links */
    transition: background-color 0.3s; /* Add smooth transition for hover effect */
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Main styles */





article img {
    float: right;
    margin-left: 20px;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-align: center;
    padding: 10px 0;
}


footer p {
    margin: 10px;
    color: #EDE7D9;
    
}

/* Social links styles */
.sociallinks {
    margin-top: 10px;
}

.sociallinks a {
    margin: 0 5px;
}

/* Set the same size for all images in the nav */
nav img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

/* Flex container for the header */
header nav {
    display: flex;
    justify-content: center; /* Align items to the right */
    align-items: center;
    font-family: var(--heading-font);
}



/* History section styles */
.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; /* three columns layout */
    gap: 20px; /* Gap between columns */
  padding: 2rem;
}

.history img {
    width: 300px;
    height: auto;
}


.history h2 {
    grid-column: 1/4;
    text-align: center;
}

.history p {
    color: var(--primary-colo);
}
.adventure div {
    display: flex;
    flex-flow: row;
}

.adventure figure img {
    max-height: 100px;
    width: 120px;
    margin-left: -10px;

    
}
.company-info, .employee-profiles, .contact-form {
    margin-bottom: 20px;
    
}

.contact-form{
    padding-top: 40px;
}



.all-emloyees{

    display:flex;
    flex-flow: row;
}


.employee {
    margin-bottom: 10px;
    
    
}

.employee img {
    width: 250px;
    height: 150px;
    margin: 20px;
    gap: 1em;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.contact-form input[type="checkbox"] {
    margin-top: 10px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555;
}

.company-info p{
    color: #0a0a0a;
}

.link-to-wireframe, a{
   color: #EDE7D9;
  

}

.link-to-wireframe, a:hover{
   
color: var(--nav-hover-link-color);
}

/* 


/* Trip Table Section styles */
.trip-table {
    padding: 1rem;
}

.trip-table h2 {
    text-align: center;
}


.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table th, .trip-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.trip-table th {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

.trip-table tbody tr td a:hover {
    background-color:white;
    color: #333;
}

.trip-table tbody tr td a {
    color:white;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--nav-background-color);
}




/* CTA Section styles */
.cta {
    color: var(--nav-link-color);
    text-align: center;
    padding: 2rem;
}

.cta h2 {
    margin-bottom: 1rem;
}

.cta p {
    margin-bottom: 1rem;
}

.cta .button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.cta .button:hover {
    background-color: black;
    color:#fff ;
}


/* trip image decription section */
.hero-trip{
    padding: 1rem;
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

/* trip image decription section */

.hero-heading h2{
    text-align: center;
    
}


.hero-trip h2{
    text-align: center;
   
}

.hero-heading h1{
text-align: center;
margin-bottom: 1rem;
margin-top: 0.5rem;

}
.hero-trip img {
    width: 250px;
    height: 150px;
    margin: 20px;
position: relative;

}

.hero-trip a {
    color: white;
    text-decoration: none;
    position: absolute;
    border-radius: 5px ;
    background-color: #161615;
    justify-content: center;
    
}

.hero-trip a:hover {
    background-color:white ;
    color:black ;
} 

.hero-trip article p{
color: black;
background-color: white;

}

.hero-trip article p{
    color: black;
    background-color: white;
    
    }




.grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr; /* three columns layout */
    gap: 10px; /* Gap between columns */
  padding: 2rem;
  
}
.grid-layout img{
width: 100%;
height: 300px;
}
.grid-layout div h3{
    text-align: center;
}

.grid-layout div p{
    color:#0a0a0a;
}

